---
ignore_me: frontmatter is mandatory in Jekyll
---

$pattern: "{{ site.baseurl }}/images/legumes.jpg";

//$brand-color: #FFA715;
$brand-color: #02623e;
$links-color: #05FAA0;
//$links-color: #A3A5DA;
$html-background-color: #222;
$secondary-brand-color: #37AD82;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";

$section-rotation: 0deg;

@import "elements";
@import "layout";
@import "contact";
@import "blog";
@import "forms";
@import "navigation";
@import "footer";
@import "cloudcannon";
